<style type='text/css'>
/* Other */
.CSS_LIGHTBOX {z-index:999999!important;}
.CSS_LIGHTBOX_BG_MASK_TRANSPARENT {opacity:.95!important;}
.CSS_LIGHTBOX_SCALED_IMAGE_IMG {width:auto!important;max-width:100%;box-shadow:0 0 10px rgba(0,0,0,0.1);}
.CSS_LIGHTBOX_BTN_CLOSE {background: url(&#39;https://4.bp.blogspot.com/-cmZSAe4hgWI/V0K-3C5xiHI/AAAAAAAAG90/2btatUgRsM4qf8HIc7QweuToTkRqRNeuACLcB/s1600/delete.png&#39;) no-repeat!important;width:32px!important;height:32px!important;top:30px!important;opacity:0.6;transition:all .3s;}
.CSS_LIGHTBOX_BTN_CLOSE:hover{opacity:1}
.CSS_LIGHTBOX_BTN_CLOSE_POS {right:10px!important;}
.CSS_LIGHTBOX_BG_MASK{background-color:rgba(0,0,0,0.8)!important}
.CSS_LIGHTBOX_FILMSTRIP{background-color:rgba(0,0,0,0.5)!important}
.nubies-notice{position:relative;margin-bottom:20px;background:#f8f8f8;padding:15px 15px 15px 30px;border-left:4px solid #ff6348}
.nubies-notice:before{content:&quot;\f129&quot;;font-family:FontAwesome;position:absolute;top:50%;margin-top:-15px;left:-18px;background-color:#ff6348;color:#FFF;width:30px;height:30px;border-radius:100%;text-align:center;line-height:30px;font-weight:bold}
.nubies-notice a{color:#ff6348}
.nubies-notice.status-msg-body{background:#f8f8f8;text-align:center}
.status-msg-wrap{margin:0 0;width:100%}
#HTML10{margin-top:25px}
#Attribution1,#navbar-iframe,#ContactForm1,#ContactForm1 br,.quickedit,.nubies-hidden,.breadcrumb li.disable.nubies-hidden,#pull{display:none}
/* Header */
#header{margin:0;padding:20px 0}
#header h1{margin:0;padding:5px 0 0;line-height:1em;letter-spacing:normal;font-size:24px}
#header a{font-size:130%}
#nubies-header-inside{text-align:center}
.nubies-logo{padding:0;margin:0;font-size:20px;text-transform:uppercase;color:#222}
.nubies-logo a{color:#222}
.nubies-logo a:hover{color:#888}
/* Top Navigation */
.topouter-wrapper{background:#fff;position:relative;overflow:hidden;width:100%;min-height:35px;margin:0 auto;padding:0 20px;max-width:778px;border-bottom:1px solid rgba(0,0,0,0.08);border-top:3px solid #ff6348}
.main-navx{display:block;margin:0 auto;width:100%;max-width:778px}
.main-navx ul {width:100%;padding:0;margin:0;text-align:right;}
.main-navx li{list-style-type:none;float:left;padding:0;line-height:35px;height:35px;margin:0}
.main-navx li a{font-size:13px;color:#222;display:inline-block;margin:0;padding:0 10px;text-align:center}
.main-navx ul li a:active,.main-navx ul li a:hover:active,.main-navx ul li a:hover,.main-navx ul li:active,.main-navx ul li.socialright:hover{color:#999}
.main-navx ul li.socialright{float:right;}
.main-navx ul li.socialright a{padding:0 10px;font-weight:normal;min-width:35px}
/* Navigation */
#navi-nubies{height:40px;width:100%;text-transform:capitalize;background:#ff6348;color:#fff}
#navi-nubies a{display:block;line-height:40px;padding:0 10px;text-decoration:none;color:#fff;font-size:14px}
#navi-nubies ul,#navi-nubies li{margin:0 auto;padding:0;list-style:none}
#navi-nubies li{float:left;display:inline;position:relative}
#navi-nubies input{display:none;margin:0;padding:0;width:80px;height:30px;opacity:0;cursor:pointer}
#navi-nubies label{display:none;width:45px;height:41px;line-height:41px;text-align:center}
#navi-nubies label span{font-size:16px;position:absolute;left:35px}
#navi-nubies ul.menus li{display:block;width:100%;text-transform:none;text-shadow:none}
#navi-nubies ul.menus a{color:#FFF;line-height:35px}
#navi-nubies li a:hover{background:#e55a42}
#navi-nubies li:hover ul.menus{display:block}
#navi-nubies ul.menus a:hover{background:#5FC6EB;color:#FFF}
#navi-nubies li ul{background:#fff;margin:0;width:150px;height:auto;position:absolute;top:40px;left:0;z-index:10;display:none;box-shadow:0 2px 6px rgba(0,0,0,0.15)}
#navi-nubies li li{display:block;float:none}
#navi-nubies li li a:hover{background:#e55a42}
#navi-nubies li:hover &gt; ul{display:block}
#navi-nubies li ul ul{left:100%;top:0}
#navi-nubies li li &gt; a{display:block;padding:0 10px;margin:0;line-height:34px;color:#999;border-bottom:1px dotted rgba(0,0,0,0.05)}
#navi-nubies li li &gt; a:hover{background:#f3f8f9;color:#666}
#navigationwrapper{z-index:1}
#navi-nubies li.firstli{line-height:36px;overflow:hidden;border-right:1px solid rgba(255,255,255,0.1)}
#navi-nubies li.firstli a{padding:0 15px;}
#navi-nubies li.firstli a:hover{background:transparent;}
#navi-nubies li a i{font-family:fontawesome;font-style:normal;font-size:18px}
#navi-nubies a i.fas.fa-angle-down{margin-left:5px;font-size:13px}
/* Search Box */
#nubies-header-search{width:100%;padding:0;margin:22px 0 0}
#nubies-header-search #search-form{width:100%;margin:0;padding:0}
#nubies-header-search #search-text{width:100%;background:#f3f8f9;display:block;margin:0;padding:12px}
#nubies-header-search #search-text:hover,#nubies-header-search #search-text:focus{outline:none}
#nubies-main-wrapper{margin-top:25px;word-wrap:break-word;overflow:hidden}
/* Post */
.nubies-metapost{display:none}
.nubies-metapost-item{margin:0 0 10px 0}
.nubies-author,.nubies-date,.nubies-author a,.nubies-date a{color:#95a5a6;font-size:13px;margin-right:10px}
.post{margin:0 0 15px;background:#fff;padding:0 0 15px;border-bottom:1px solid rgba(0,0,0,0.05)}
.post h2.entry-title{font-size:18px;font-weight:500;line-height:1.3}
.post h2.entry-title a{color:#222}
.post h2.entry-title a:hover{color:#999}
.post-body{margin:10px 0;line-height:1.65;font-size:15px}
.post-item{margin:10px 0 auto;font-size:13px;color:#999;line-height:1.6}
.nubies-footer-label{width:100%;display:block}
.nubies-footer-label .post-labels{margin:0;padding:0;font-size:16px}
.nubies-footer-label .post-labels a{margin-left:5px;background:#ff6348;color:#fff;padding:5px 10px}
.nubies-content-post{padding-left:84px}
.nubies-thumbnail img.post-thumbnail{margin:0 12px 0 0;min-height:72px;min-width:72px;max-height:72px;max-width:72px;height:72px;width:72px;float:left}
.nubies-blockpost-title{margin-bottom:20px;border-bottom:solid 2px #ecf0f1}
.nubies-blockpost-title h1{font-size:18px}
.profile-img{float:left;margin-top:0;margin-right:5px;margin-bottom:5px;margin-left:0;padding:4px;border:1px solid rgba(0,0,0,0.05)}
.profile-data{margin:0;line-height:1.6em}
.profile-datablock{margin:.5em 0}
.profile-textblock{margin:.5em 0;line-height:1.6em}
.nubies-date a abbr{text-decoration:none}
#asense1-wrapper,#asense2-wrapper{text-align:center}
.asense1 .widget-content{margin:0;padding:25px 0 0}
.asense2 .widget-content{margin:0;padding:0 0 25px}
/* Breadcrumb */
.breadcrumb{padding:10px 0;margin:0;border-top:2px solid #ecf0f1;list-style:none;margin:0 0 10px 0}
.breadcrumb li{display:inline-block;color:#999}
.breadcrumb li a,.breadcrumb li.disable{background:#f3f8f9;color:#999;font-size:13px;padding:5px 8px;margin:0 5px 0 0}
.breadcrumb li a:hover,.breadcrumb .active{background:#e3e7e8;color:#666}
/* Blog Page */
#blog-pager{text-align:center;line-height:1.4em;margin:15px 0;color:#fff}
#blog-pager .nubies-textpager-newer{margin-left:5px}
#blog-pager .nubies-textpager-older{margin-right:5px}
#blog-pager .nubies-btn{padding:7px 10px}
.feed-links{display:none;clear:both;line-height:1.5em}
/* Sidebar */
#sidebar-wrapper{font-size:13px;color:#222}
#sidebar-wrapper a{color:#222}
#sidebar-wrapper a:hover{color:#ff6348}
/* Footer */
.nubies-footer{background:#f3f8f9}
.nubies-layout-widget .widget{padding:0;margin-bottom:25px}
.nubies-layout-widget .widget ul{list-style:none;margin:0;padding:0}
.nubies-layout-widget .widget li{display:block;margin:0;padding:5px 0 10px;border-bottom:1px solid rgba(0,0,0,0.05);line-height:1.5em}
.nubies-layout-widget .widget h2,.nubies-layout-widget .widget h3{font-size:14px;font-weight:400;padding:6px 10px;background:#ff6348;margin:0 0 10px 0;color:#fff;line-height:normal}
.PopularPosts .item-content{margin:0;padding:0}
.PopularPosts ul li .item-title{margin-bottom:5px;margin-top:5px}
.PopularPosts .item-thumbnail img,.PopularPosts .item-snippet,.PopularPosts .item-thumbnail{display:none}
.credit{font-size:13px;line-height:1.4em;text-align:center;padding:15px 10px;color:#888}
.credit a{color:#888}
.nubies-copyright{margin-bottom:5px}
/* Follow By Email */
.follow-by-email-inner td{display:block;width:100%}
.FollowByEmail .follow-by-email-inner{padding:0;margin:0}
.FollowByEmail .follow-by-email-inner table,.FollowByEmail .follow-by-email-inner form{margin:0;padding:0}
#FollowByEmail1 input.follow-by-email-address{background:#f3f8f9;color:#666;height:30px;width:100%;border:0;margin:0 auto 10px auto;outline:none}
#FollowByEmail1 input.follow-by-email-address:focus{background:#f3f8f9}
#FollowByEmail1 input.follow-by-email-submit{background-color:#fff;color:#999;border:1px solid rgba(0,0,0,0.08);height:28px;line-height:28px;padding:0 10px;margin:0;width:100%;outline:none;transition:all .3s}
#FollowByEmail1 input.follow-by-email-submit:hover,#FollowByEmail1 input.follow-by-email-submit:active{background-color:#fff;color:#444;border-color:rgba(0,0,0,0.3)}
/* Label */
.cloud-label-widget-content{text-align:left}
.label-size{background:#ff6348;display:inline-block;margin:0 6px 10px 0;line-height:1.6}
.label-size a,.label-size span{display:inline-block;padding:8px 12px;color:#fff}
.label-size:hover{background:#333;text-decoration:none}
.label-size a:hover{text-decoration:none}
.label-count{white-space:nowrap;background:#333}
.widget.Label li{clear:both}
.widget.Label li span{float:right;color:#999}
.jump-link{margin:5px 0;padding:0;font-weight:700;text-transform:uppercase}
.showpage a,.pagecurrent{padding:8px 12px;margin-right:4px;color:#fff;background:#ff6348}
.showpage a:hover,.pagecurrent{background:#ff6348;text-decoration:none;color:#fff}
.showpageOf,.firstpage,.lastpage{display:none!important}
.feed-links,a.quickedit{display:none!important}
h1.nubies-pagetitle{display:none!important}
.status-msg-hidden{display:none}
/* Popular Post */
#PopularPosts1 h2{position:relative;right:-2px;padding:8px 63px 6px 17px;width:100%;margin:0;font-size:16px;background:#4F4F4F;color:#f2f2f2;text-align:left;text-indent:18px}
#PopularPosts1 h2:before{position:absolute;content:&quot;&quot;;top:36px;right:0;width:0;height:0;border-bottom:12px outset transparent;border-left:12px solid #000000}
#PopularPosts1 h2:after{position:absolute;content:&quot;&quot;;top:-6px;left:-5px;width:0;height:0;border-bottom:24px outset transparent;border-top:24px outset transparent;border-left:24px solid #ffffff}
#PopularPosts1 ul{list-style:none;counter-reset:li;padding:inherit;left:-8px;width:100%}
#PopularPosts1 li{width:100%;position:relative;left:0;margin:0;padding:0}
#PopularPosts1 ul li a{display:block;transition:all .1s ease-in-out}
#PopularPosts1 ul li a:hover{margin-left:1px}
/* Status */
.status-msg-body{padding:10px 0;display:none}
.status-msg-wrap{display:none;margin-left:1px;width:100%;color:#666}
.status-msg-wrap a{color:orange!important}
.status-msg-bg{display:none;background:#ccc;position:relative;width:99%;padding:6px;z-index:1;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:2px #999 solid}
.status-msg-border{display:none;border:0;position:relative;width:99%}
/* Back to Top */
.back-totop{background:#2f3542;font-size:22px;font-weight:normal;color:#fff;width:auto;padding:4px 10px;position:fixed;bottom:10px;right:10px;text-align:center;white-space:nowrap;letter-spacing:0;z-index:99;cursor:pointer;visibility:hidden;opacity:0;backface-visibility:hidden;-webkit-transform:translateZ(0);transform:translateZ(0);border-radius:2px;transition:all .6s}
.back-totop.arlniain{visibility:visible;cursor:pointer;opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);transition:all .4s}
.back-totop:hover{background:#57606f;color:#fff}
/* Responsive */
@media screen and (min-width:1300px){
.post h1{font-size:130%}}
@media screen and (max-width:1024px){
.post h1{font-size:130%}}
@media screen and (max-width:800px){
#wrapper{width:90%}#footer-wrapper{width:90%}img,video,object{max-width:100%}#sidebar-wrapper{width:35%}#main-wrapper{width:65%}.post-thumbnail{width:100px}.PopularPosts .item-snippet{font-size:100%}#header{text-align:center}
#header .nubies-hidden{display:block;font-size:16px;margin:10px 0 0 0;text-transform:capitalize}
#navigationwrapper .nubies-col-1-1{padding:0}
#navi-nubies{position:relative}#navi-nubies ul{background:#2f3542;position:relative;top:100%;left:0;z-index:3;height:200px;display:none;overflow-x:auto}#navi-nubies ul.menus{width:100%;position:static;padding-left:20px}#navi-nubies li{display:block;float:none;width:auto}#navi-nubies input,#navi-nubies label{position:absolute;top:0;left:0;display:block}#navi-nubies input{z-index:4}#navi-nubies input:checked + label{color:#fff}#navi-nubies input:checked ~ ul{display:block;width:100%}#navi-nubies li:hover &gt; ul{width:100%}
#navi-nubies li ul{background:#282d38;height:auto;position:relative;display:block;width:auto;box-shadow:none;top:0;border-top:1px solid rgba(255,255,255,.1);border-bottom:1px solid rgba(255,255,255,.1)}
#navi-nubies li li &gt; a{color:#fff;border:0}
#navi-nubies li li &gt; a:hover{background:#232730;color:#fff}
#navi-nubies label{font-size:25px;left:5px}
#navi-nubies a i.fas.fa-angle-down{float:right}
#navi-nubies li.firstli{display:none}
.topouter-wrapper{padding:0;min-height:52px;overflow:auto}
.main-navx {display:block;width:100%;padding:0}
.main-navx ul {text-align:center;}
.main-navx ul {display:none;height:auto;}
.main-navx a#pull{background-color:transparent;color:#fff;display:inline-block;padding:20px;position:relative;text-align:left;width:100%}
.main-navx a#pull:after{content:&quot;\f0c9&quot;;font-family:FontAwesome;font-style:normal;font-weight:normal;text-decoration:none;font-size:25px;color:#ff6348;display:inline-block;position:absolute;left:20px;top:11px}
.main-navx li{display:inline-block;width:50%;float:left;text-align:center;line-height:initial;height:initial}
.main-navx li a{background:#2f3542;color:#fff;display:block;padding:15px 10px;border:.5px solid rgba(255,255,255,.1)}
.main-navx li a:hover,.main-navx ul li:hover a,.main-navx ul li:hover{background:#57606f;color:#fff}
.main-navx ul li.socialright{width:25%}
.main-navx ul li.socialright a{border:0}
.main-navx ul li.socialright.bloggs a{background:#d14b34;padding:15px 10px}
.main-navx ul li.socialright.gugel a{background:#e15239;padding:15px 10px}
.main-navx ul li.socialright.tweeter a{background:#ef593f;padding:15px 10px}
.main-navx ul li.socialright.fesbuk a{background:#ff6348;padding:15px 10px}
.main-navx ul li.socialright a:hover{color:#fff}}
@media only screen and (max-width:768px){
#sidebar-wrapper{width:100%}#main-wrapper{width:100%}.post-thumbnail{width:100px}}
@media screen and (max-width:640px){
.post-info{display:none}.post-thumbnail{width:50px;height:50px}.status-msg-border{width:97%}.post h2{font-size:100%}
.nubies-container{padding-right:15px;padding-left:15px}
.back-totop{display:none}}
@media screen and (max-width:480px){
.comments .comments-content .user{line-height:2.8em}.post h2{font-size:100%}.post h1{font-size:120%}body,.body-fauxcolumn-outer{font-size:80%}
.post-item{margin:20px 0 20px 0;width:100%;display:block}.nubies-content-post{padding-left:0}#blog-pager .nubies-textpager-newer,#blog-pager .nubies-textpager-older,.nubies-share .nubies-sharetext-btn{display:none}.nubies-relatedpost ul{margin:0 0}.nubies-relatedpost ul li{width:100%;padding:0 0 20px}#comment-editor{width:100%!important;margin:0 0!important;height:290px!important}}
@media screen and (max-width:240px){#header img{max-width:100%;height:auto}}
@media screen and (max-width:320px){
.terkait ul{padding:0;list-style-type:none}.post blockquote{margin:5px}}
@media screen and (max-width:991px){.nubies-col-1-1,.nubies-col-2-3,.nubies-col-8-12,.nubies-col-1-2,.nubies-col-6-12,.nubies-col-1-3,.nubies-col-4-12,.nubies-col-1-4,.nubies-col-3-12,.nubies-col-1-5,.nubies-col-1-6,.nubies-col-2-12,.nubies-col-1-7,.nubies-col-1-8,.nubies-col-1-9,.nubies-col-1-10,.nubies-col-1-11,.nubies-col-1-12,.nubies-col-11-12,.nubies-col-10-12,.nubies-col-9-12,.nubies-col-5-12,.nubies-col-7-12{width:auto;float:none}.nubies-hide-on-mobile{display:none!important;width:0;height:0}.nubies-navigation{position:relative;padding:0;margin:0 auto}.nubies-logo{text-align:center;margin-bottom:10px}#blog-pager{padding:15px 0 15px}#comments{margin:0;padding:10px 0}}
@media screen and (max-width:767px){.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive&gt;.table{margin-bottom:0}.table-responsive&gt;.table&gt;thead&gt;tr&gt;th,.table-responsive&gt;.table&gt;tbody&gt;tr&gt;th,.table-responsive&gt;.table&gt;tfoot&gt;tr&gt;th,.table-responsive&gt;.table&gt;thead&gt;tr&gt;td,.table-responsive&gt;.table&gt;tbody&gt;tr&gt;td,.table-responsive&gt;.table&gt;tfoot&gt;tr&gt;td{white-space:nowrap}.table-responsive&gt;.table-bordered{border:0}}
.post-author{float:left;margin-right:10px;padding:0 10px 0 0;border-right:1px solid #999}
</style>
<b:if cond='data:blog.pageType != &quot;index&quot;'>
<style type='text/css'>
#blog-pager{margin:15px 0 5px 0}
/* Comment */
#comments h3{font-size:20px;padding:10px;background:#ff6348;margin:0;color:#fff}
.comments .comment-header{position:relative}
#comments .avatar-image-container img{border:0}
.comment-thread{color:#111}
.comment-thread a{color:#777}
.comment-thread ol li{margin:0 0 10px}
.comment-thread .comment-content a,.comments ol{list-style:none;padding-left:0}
.comments .user a{color:#999;font-weight:400}
.comments .datetime a{color:#999;font-weight:400;font-size:13px}
.comments .avatar-image-container,.comments .avatar-image-container img{position:absolute;float:left;width:48px;max-width:48px;height:48px;max-height:48px}
.comments .comment .comment-actions a{color:#999;margin-right:5px;font-size:13px}
.comments .comment .comment-actions a:hover{color:#666;text-decoration:none}
.comments .comment-block,.comments .comments-content .comment-replies,.comments .comment-replybox-single{margin-left:0}
.comments .comment-block{background:#fff;padding:10px;border:1px solid rgba(0,0,0,0.08)}
.comments .comments-content .comment:first-child{padding-top:0}
.comments .comments-content .comment{margin:10px 0 0;padding:0;width:100%;line-height:1em}
.comments .comments-content .icon.blog-author{position:absolute;top:0;right:-5px}
.comments .comments-content .icon.blog-author:before{content:&quot;\f058&quot;;font-family:FontAwesome;display:inline-block;font-size:18px;font-weight:400;color:#ff6348}
.comments .comments-content .comment-replies{margin-top:5px}
.comments .comments-content .comment-thread:empty{display:none}
.comments .comments-content .deleted-comment{font-style:italic;color:#999}
.comments .comment-content{padding:5px 0;line-height:1.4em}
.comments .comment-thread.inline-thread{padding:0;margin:0}
.comments .comment-thread.inline-thread .comment-block{margin:0 0 0 48px}
.comments .comment-thread.inline-thread .avatar-image-container,.comments .comment-thread.inline-thread .avatar-image-container img{width:35px;max-width:35px;height:35px;max-height:35px}
.comments .continue{border-top:0;width:100%}
.comments .continue a{font-weight:normal;font-size:13px;margin:10px auto;color:#fff;text-align:center;background:#ff6348;display:block}
.comments .continue a:hover{background:#2f3542}
#comment-editor{height:230px!important}
.comment-form{clear:both;width:100%;max-width:100%}
.comments .comments-content .loadmore.loaded{display:none}
.nubies-link-btncomment{background:#ff6348;display:inline-block;margin:20px 0;line-height:1.6;display:inline-block;padding:8px 12px;color:#fff}
.thread-count{font-size:13px}
/* Shortcodes */
.bagidua {-webkit-column-count:2;-moz-column-count:2;column-count:2;}
.bagitiga {-webkit-column-count:3;-moz-column-count:3;column-count:3;}
.bagiempat {-webkit-column-count:4;-moz-column-count:3;column-count:4;}
.bagidua img,.bagitiga img,.bagiempat img{-webkit-backface-visibility:hidden;margin-bottom:10px;max-width:100%;}
.post-body .bagidua .separator:nth-of-type(n+2),.post-body .bagitiga .separator:nth-of-type(n+2),.post-body .bagiempat .separator:nth-of-type(n+2) img{margin:0 auto}
.videoyoutube{text-align:center;margin:auto;width:100%;}.video-responsive{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}
.video-responsive iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
/* Share */
.social{background:#f3f8f9;margin:20px auto;padding:10px}
.social a{position:relative;display:inline-block;color:#fff;margin:0 2px;padding:4px 10px;font-size:1em;text-align:center;border-radius:1px;overflow:hidden}
.social a:hover{color:#fff}
.social a span{font-weight:100;font-size:12px}
.social a i{color:#fff;text-align:center;padding-right:2px;display:inline-block}
.social a.facebook{background:#325a97}.social a.facebook:hover{background:#233f69}.social a.googleplus{background:#db4437}.social a.googleplus:hover{background:#bb3b30}.social a.twitter{background:#00aced}.social a.twitter:hover{background:#0080b0}.social a.googleplus{background:#cc2127}.social a.googleplus:hover{background:#97181d}.social a.whatsapp{display:none;background:#43d854}.social a.whatsapp:hover{background:#38b046}.social a.email{background:#f39c12}.social a.email:hover{background:#e67e22}
.icons8-LINE{width:48px;height:48px;margin:0 0 0 -6px}
.BlackBerry-Icon{width:36px;height:36px}
.social a.linne,.social a.bbbm{display:none}
/* Related */
#related_posts{overflow:hidden}
#related_posts h4{letter-spacing:0;line-height:20px;margin:0 0 5px;padding:10px;background:#ff6348;color:#fff}
#relpost_img_sum{margin:0;padding:0;line-height:16px}
#relpost_img_sum:hover{background:none}
#relpost_img_sum ul{list-style-type:none;margin:0;padding:0}
#relpost_img_sum li{width:50%;float:left;margin:5px 0;padding:0;list-style:none}
#relpost_img_sum .news-title{display:block}
#relpost_img_sum .news-title a{display:block;font-size:13px;color:#222;padding:5px 10px 0 0}
#relpost_img_sum .news-title a:hover{color:#999}
#relpost_img_sum img{float:left;margin-right:10px;padding:4px}
#relpost_img_sum .news-text,.nubies-comment-message p{display:none}
@media only screen and (max-width:768px){
.social{background:#fff;padding:0}
.social a span{display:none}
.social a.linne,.social a.bbbm{display:inline-block}
.social a{display:inline-block;padding-left:0;padding-right:0;padding:10px;white-space:nowrap;font-size:1rem;line-height:0;border-radius:5px;width:36px}
.social a i{padding-right:0}
.social a.whatsapp{display:inline-block}
.social a i{padding:0}
.social a.linne{padding:0;height:42px;overflow:hidden}
.social a.bbbm{padding:0}
#relpost_img_sum li{width:100%}}
</style>
</b:if>
<b:if cond='data:blog.pageType == &quot;static_page&quot;'>
<style type='text/css'>
.nubies-col-9-12{width:100%;float:none}
#sidebar-wrapper{display:none}
</style>
</b:if>
<b:if cond='data:blog.pageType == &quot;error_page&quot;'>
<style type='text/css'>
.nubies-col-9-12{width:100%}
#sidebar-wrapper{display:none}
.nubies-bubble-error{position:relative;padding:100px 30px;font-size:30px;margin:0 auto 80px;background:#f3f8f9;text-align:center}.nubies-bubble-error:before{content:&quot;&quot;;position:absolute;z-index:10;bottom:-40px;right:100px;width:50px;height:50px;border:3px solid #cf000f;background:#fff;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;display:block}.nubies-bubble-error:after{content:&quot;&quot;;position:absolute;z-index:10;bottom:-60px;right:50px;width:25px;height:25px;border:3px solid #d9b611;background:#fff;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;display:block}.nubies-author-404{text-align:right;font-size:40px;font-weight:700}
.post p{padding:50px 0}
</style>
</b:if>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'/>
<script type='text/javascript'>
//<![CDATA[
function loadCSS(e, t, n) { "use strict"; var i = window.document.createElement("link"); var o = t || window.document.getElementsByTagName("script")[0]; i.rel = "stylesheet"; i.href = e; i.media = "only x"; o.parentNode.insertBefore(i, o); setTimeout(function () { i.media = n || "all" }) }
loadCSS("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");loadCSS("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
//]]>
</script>
<style>
    .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
    }
    
    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }
    
    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;
    }
    
    .youtube-player img:hover {
        -webkit-filter: brightness(75%);
    }
    
    .youtube-player .play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url(&quot;//i.imgur.com/TxzC70f.png&quot;) no-repeat;
        cursor: pointer;
    }

</style>
<style>
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.btn1:hover {
    background-color: #4CAF50;
    color: white;
}

.btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.btn2:hover {
    background-color: #008CBA;
    color: white;
}

.btn3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.btn3:hover {
    background-color: #f44336;
    color: white;
}

.bt4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.btn4:hover {background-color: #e7e7e7;}

.btn5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.btn5:hover {
    background-color: #555555;
    color: white;
}
</style>
<script async='' src='https://cdn.onesignal.com/sdks/OneSignalSDK.js'/>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: &quot;67bb8ff8-651c-41b0-8a86-38b52512e87f&quot;,
    });
  });
</script>
&lt;script async src=&quot;//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: &quot;ca-pub-5895724593526291&quot;,
          enable_page_level_ads: true
     });
&lt;/script&gt;

<b:if cond='data:blog.url == &quot;https://cakfadil.blogspot.com/p/sitemap.html&quot;'>
<style type='text/css'>
#table-outer{padding:7px 10px;margin:0 auto}
#table-outer table{width:auto;margin:0 auto;border:none!important;}
#table-outer table td{border:none!important;padding:0!important}
#table-outer form{font:inherit}
#table-outer label{display:block;text-align:right;margin:0 10px 0 0;padding:4px 0 0}
#table-outer select[disabled]{opacity:.4}
#post-searcher{display:block;margin:0;padding:0}
#table-outer input,#table-outer select{width:100%;border:1px solid #dedede;border-radius:5px;margin:0;padding:5px;font-family: Roboto,sans-serif!important;font-size:16px!important;font-weight:500!important;text-transform:capitalize!important;outline:0;color:#333!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
#table-outer select option{min-height:1.4em!important;}
#table-outer input#feed-q{padding:5px 10px!important;}
#feed-container{background:#fff;display:block;clear:both;margin:0;padding:0;list-style:none;overflow:hidden;position:relative;border-top:none}
#feed-container li{list-style:none;margin:0;padding:0;border-top:1px solid #eee;color:#555;width:auto;float:left;display:inline}
#feed-container li .inner{margin:15px 0;height:auto;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis}
#feed-container li a{text-decoration:none;color:#2C2C2C;font-weight:500}
#feed-container li a:hover{text-decoration:none;color:#E94141}
#feed-container li .news-text{margin-top:5px;line-height:1.3em!important}
#feed-container li img{margin:0 15px 5px 0;padding:7px 7px 7px 0;float:left;display:block;width:140px!important;}
#result-desc{margin:0;padding:0;}
#result-desc div,#result-desc span{display:block;margin:0;padding:5px 0 7px;color:#D64D52}
#result-desc div{color:inherit}
#feed-nav{margin:10px 0 30px;text-align:center;font-weight:500}
#feed-nav a,#feed-nav span{border:1px solid #dedede;border-radius:5px;padding:0;color:#757575;text-decoration:none;display:block;height:30px;line-height:32px}
#feed-nav a,#feed-nav span:hover{color:#1B1B1B}
#feed-nav a:active,#feed-nav a:hover{color:#555}
#feed-nav span{cursor:wait}
@media (max-width:600px){#table-outer table{margin:0 auto;width:100%}
#feed-container,#table-outer{margin:0 auto}
#feed-container li .inner{margin:5px auto;height:auto}
#feedContainer li{float:none;display:block;width:auto;height:auto}
#feed-container li .news-text, #feedContainer:after,#feed-container li img{display:none!important}}
.post-body{min-height:300px;background:url(https://lh6.googleusercontent.com/-UKClHRpzskg/VfOm1eLfT7I/AAAAAAAAiQw/1pwwhEsT49I/w220-h19-no/ajax-loader%2B%25281%2529.gif)50% 50% no-repeat!important;}
</style>
</b:if>
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 0px 5px 0px 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: red;
    color: white;
}
</style>
